@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.transition {
  transition: all 0.3s ease-in-out !important;
}

.container {
  @apply mx-auto
}

@media (max-width: 40rem) {
  .container {
    padding-inline: 10px;
  }
}

button {
  cursor: pointer;
}

.shadow-text {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -3px -3px 0 #00d4ff, -8px -8px 0 #8000ff;
}