@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
}

.transition {
  transition: all 0.3s ease-in-out !important;
}

@media (max-width: 40rem) {
  .container {
    padding-inline: 10px;
  }
}